# === JAVA / SPRING / MAVEN ===
HELP.md
target/
**/target/
**/build/
.mvn/wrapper/maven-wrapper.jar

# === STS / Eclipse ===
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.metadata/

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr

# === NetBeans ===
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# === VS Code ===
.vscode/

# === NODE / REACT / FRONTEND ===

# dependencies
**/node_modules/
**/.cache/
.pnp/
.pnp.js

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
*.log
*.class

# env files
.env
.env.local
.env.*.local

# lock files (optional)
package-lock.json
yarn.lock
